ul {
    list-style: none;
}
table {
  border: 1px solid black;

  text-align: center;
}
td {
  border: 1px solid black;
}th {
  border: 1px solid black;
}
#link_sign_in {
  color: black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background: rgba(33, 34, 33, 0.443);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
